header {
  background-color: #1f2937;
}

#header-logo-text {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
  font-family: sans-serif;
}

ul {
  list-style: none;
  text-align: center;
  max-height: 20px;
}

.header-links-text {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.header-text {
  font-size: 48px;
  font-weight: bolder;
  font-family: sans-serif;
  color: #f9faf8;
}

.subtext {
  font-size: 24px;
  color: #e5e7eb;
  font-family: sans-serif;
  font-weight: 200;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 15px;
  border-style: none;
  font-weight: bold;
  width: 100px;
  height: 30px;
}

.image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 250px;
  width: 500px;
  color: #e5e7eb;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  flex: 1;
}

.header-links {
  display: flex;
  gap: 30px;
}

.hero {
  display: flex;
  align-items: center;
  gap: 200px;
  min-height: 50vh;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 10%;
}

#information-header {
  text-align: center;
  font-family: sans-serif;
}

.info-image {
  width: 150px;
  height: 150px;
  border: 5px solid #3882f6;
  border-radius: 15px;
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  flex-direction: column;
}

.information-area {
  display: flex;
  gap: 20px;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-box-text {
  text-align: center;
  width: 130px;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: flex-end;
  min-height: 300px;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 50px;
}

.quote-text {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f291f;
}

.quote-author {
  display: flex;
  justify-content: flex-end;
  font-family: sans-serif;
  font-weight: bolder;
  color: #1f291f;
}

.sign-up-button {
  border: 2px solid white;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-section {
  /* margin-left: 200px; */
  margin-top: 100px;
  /* margin-right: 200px; */
  margin-bottom: 70px;
  background-color: #3882f6;
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  align-items: center;
  height: 10vh;
  border-radius: 15px;
  width: 900px;
}

.cta-section-left {
  color: #e5e7eb;
}
.cta-text {
  font-size: 22px;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8vh;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #1f2937;
  font-family: sans-serif;
  color: #e5e7eb;
}
